In [2]:
import pandas as pd
import numpy as np

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
mnist_dyn = pd.read_csv("../data/output/results-mnist-dynamic.csv")

In [3]:
mnist_dyn

    N_WORKERS  COMM_PERIOD  OVERLAP  COMM_MODE  AGG_MODE       TIME  ACCURACY
0          16            1      0.0          0         0  26.791774     90.08
1          16            1      0.0          0         2  30.202406     90.08
2          16            1      0.0          0         3  45.750656     89.64
3          16            1      0.0          1         0  34.666056     89.89
4          16            1      0.0          1         2  35.420066     89.86
5          16            1      0.0          2         0  30.990298     89.98
6          16           10      0.0          0         0  20.872088     90.08
7          16          100      0.0          0         0  26.669020     89.90
8           4            1      0.0          0         0  36.576566     91.53
9           4            1      0.0          0         2  37.559911     91.53
10          4            1      0.0          0         3  40.442234     91.47
11          4            1      0.0          1         0  40.282420     91.43
12          4            1      0.0          2         0  37.724357     91.40
13          4            5      0.0          0         0  31.155781     91.50
14          4           10      0.0          0         0  31.257085     91.51
15          4           20      0.0          0         0  32.255679     91.51
16          4          100      0.0          0         0  29.968007     91.49

In [4]:
fmnist_dyn = pd.read_csv("../data/output/results-fmnist-dynamic.csv")

In [5]:
fmnist_dyn

    N_WORKERS  COMM_PERIOD  OVERLAP  COMM_MODE  AGG_MODE       TIME  ACCURACY
0          16            1      0.0          0         0  25.231528     81.57
1          16            1      0.0          0         2  26.779605     81.57
2          16            1      0.0          0         3  34.253398     81.62
3          16            1      0.0          1         2  36.574601     81.58
4          16            1      0.0          2         0  26.198817     81.37
5          16           10      0.0          0         0  20.957934     81.57
6          16          100      0.0          0         0  21.814183     81.58
7           4            1      0.0          0         0  37.035375     83.65
8           4            1      0.0          0         2  37.101832     83.65
9           4            1      0.0          0         3  42.156256     83.64
10          4            1      0.0          1         0  39.983115     83.59
11          4            1      0.0          1         2  42.924118     83.59
12          4            1      0.0          2         0  36.717999     83.56
13          4            5      0.0          0         0  32.483010     83.64
14          4           10      0.0          0         0  34.777277     83.64
15          4           20      0.0          0         0  35.958857     83.64
16          4          100      0.0          0         0  30.581820     83.65
17          4          100      0.0          0         3  35.149500     83.59

In [6]:
gcp_dyn = pd.read_csv("../data/output/gcp-mnist.csv")

In [7]:
gcp_dyn

    N_WORKERS  COMM_PERIOD  OVERLAP  COMM_MODE  AGG_MODE        TIME  ACCURACY
0          16            1      0.0          0         0  113.212972     90.52
1          16            1      0.0          1         0  103.058928     90.31
2          16            1      0.0          1         2  103.360345     90.29
3          16            1      0.0          2         0   98.455750     90.40
4          16           10      0.0          0         0   83.811632     90.57
5          16           20      0.0          0         0   75.856279     90.52
6          16          100      0.0          0         0   84.191988     90.41
7          32            1      0.0          0         0   73.551998     89.58
8          32            1      0.0          1         0   69.288569     89.51
9          32            1      0.0          1         2   66.654424     89.45
10         32            1      0.0          2         0   66.701706     89.47
11         32           10      0.0          0         0   43.832928     89.56
12         32           20      0.0          0         0   45.087998     89.53
13         32          100      0.0          0         0   43.087335     89.39
14         64            1      0.0          0         0   59.583715     88.44
15         64            1      0.0          1         0         NaN       NaN
16          8            1      0.0          0         0  182.134516     91.26
17          8            1      0.0          1         0  186.268637     91.02
18          8            1      0.0          1         2  188.881562     91.03
19          8            1      0.0          2         0  173.937562     91.08
20          8           10      0.0          0         0  152.413356     91.26
21          8           20      0.0          0         0  147.076941     91.28
22          8          100      0.0          0         0  148.708637     91.30